body {
    background-color: lightgray;
}

#priorities .container {
    margin-top: 150px;
}

#priorities .full-screen {
    font-size: 3.5vw;
    color: black;
    font-weight: bold;
}

#priorities .full-screen .alert-warning {
    color: white;
    padding: 0.15rem 0.50rem;
    margin-bottom: 0.50rem;
    background-color: black;
}

#priorities .full-screen .card-title {
    font-size: 4vw;
    font-weight: bold;
}

#priorities .card-body {
    padding: 0.50rem;
}

#priorities .card-body .fa {
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 20px;
}

#priorities .full-screen .card-body .fa {
    top: 2%;
    right: 1%;
}