<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Priorities{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap/bootstrap.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('build/app.css') }}" rel="stylesheet" type="text/css">
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
