{% extends 'base.html.twig' %}

{% block body %}
    <div id="priorities"><div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
{% endblock %}